@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  @apply w-[127px] h-[45px] text-[16px] font-twentienty font-semibold 
  justify-center relative flex items-center gap-3 text-center;
}

.btn::before {
  @apply content-[''] absolute top-10 transition-all duration-700 w-full 
  left-0 h-[2px] bg-black;
}

.btn:hover::before {
  @apply h-full top-0 -z-20 bg-black rounded-md;
}

.swiper-pagination-bullet-active {
  @apply !bg-black;
}
